/target
**/*.rs.bk
.idea
.vscode
data/
instances/
*.json
!Cargo.toml
!web/package.json
!web/pnpm-lock.yaml
!web/tsconfig.json
!web/tsconfig.app.json
# Frontend
web/node_modules/
web/dist/
web/.pnpm-store/

# Dev
mock-server.js